/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: rgb(42, 73, 176);
$foreground-color: #fff;
$caption-color: #fefefe;
$accent-color: #999;
$link-color: #1fec33;

/* Components */
